/*
FONT-SIZE
size-tiny = font-size:1.2rem
size-small = font-size:1.4rem
size-medium = font-size:1.6rem
size-large = font-size:2rem
size-veryLarge = font-size:2.4rem
 */

.size {
  &-text {
    font-size: $text;

    @media (max-width: 768px) {
      font-size: $Mtext;
    }

    &Mobile {
      @media (max-width: 768px) {
        font-size: $Mtext !important;
      }
    }
  }

  &-bigText {
    font-size: $bigText;

    @media (max-width: 768px) {
      font-size: $MbigText;
    }

    &Mobile {
      @media (max-width: 768px) {
        font-size: $MbigText !important;
      }
    }
  }

  &-subtitle {
    font-size: $subtitle;

    @media (max-width: 768px) {
      font-size: $Msubtitle;
    }

    &Mobile {
      @media (max-width: 768px) {
        font-size: $Msubtitle !important;
      }
    }
  }

  &-litleTitle {
    font-size: $litleTitle;

    @media (max-width: 768px) {
      font-size: $MlitleTitle;
    }

    &Mobile {
      @media (max-width: 768px) {
        font-size: $MlitleTitle !important;
      }
    }
  }

  &-title {
    font-size: $title;

    @media (max-width: 768px) {
      font-size: $Mtitle;
    }

    &Mobile {
      @media (max-width: 768px) {
        font-size: $Mtitle !important;
      }
    }
  }

  &-bigTitle {
    font-size: $bigTitle;

    @media (max-width: 768px) {
      font-size: $MbigTitle;
    }

    &Mobile {
      @media (max-width: 768px) {
        font-size: $MbigTitle !important;
      }
    }
  }
}
