.events {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  .events-news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    h3{
      font-size: 4rem;
      text-transform: uppercase;
    }
    p{
      text-align: center;
    }
  }

  .event {
    display: flex;
    margin-bottom: 20px;
    max-height: 350px;




    .image {
      object-fit: fill;
      object-position: center bottom;
      width: 50%;
    }

    .infos {
      padding: 0px 20px;

      .title {
        font-size: 1.6rem;

      }

      .icons {
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
        margin-top: 20px;

        .wraper {
          display: flex;
          margin-bottom: 20px;

          i {
            margin-right: 20px;
          }
        }




      }

      .description {
        font-size: 1.2rem;

      }
    }

  }
  a.primaire{
    align-self: center;
  }
}
