body {
  margin:0px;
  font-family:'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #0c1821;
  color: white;
}
.contenu {
  flex: 1;
}


a.primaire {
  padding: 12px 22px;
  border-radius: 5px;
  cursor:pointer;
  background-color: $red;
  color: white;
}

