body {
  margin:0px;
  font-family:'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #0c1821;
}
.contenu {
  flex: 1;
}

.banner {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  filter: brightness(50%);
}

.text {
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
}

.light-text {
  color: $dark-grey;
  font-size: x-small;
}

a.no-hover:hover {
  color: $white;
}

