.video-container {
    background-color: $background-blue;
}
.video-iframe iframe {
    width: 100%;
    height: auto;
}

.custom-select {
    background-color: transparent;
    border: $dark-grey 1px solid;
    border-radius: 10px;
    padding: 0 20px 0 20px;
    line-height: 20px;
    height: auto;
    font-size: 1.2rem;
    color: $dark-grey;
    background: none;
}

.form-select {
    background: transparent;
    font-size: 1.2rem;
    width: auto;
}

.form-control:focus {
    background-color: transparent;
    color: #BEBEBE;
    outline: 0;
    box-shadow: none;
}

@media (max-width: 995px) {
    .d-flex-responsive {
        display: flex;
        flex-direction: column;
        width: 100£;
    }
    .col-flex-responsive {
        width: 100%;
        text-align: left;
    }
}