<footer>
    <div class="container d-flex justify-content-between align-items-center mt-50 mt-50Mobile pt-20 pt-20Mobile pb-20 pb-20Mobile border-top-blue">
        <div>
            <img src="{{ asset("img/favicon.png") }}" alt="Eventoo logo"/>
        </div>
        <div>
            <a href="">Terms & Conditions</a>
        </div>
    </div>

</footer>
<script>
    function footannee() {
        var d = new Date();
        var n = d.getFullYear();
        document.getElementById("annee").innerHTML = n;
    }
    footannee();
</script>
