<footer>
    <div class="container d-flex justify-content-between align-items-center mt-50 mt-50Mobile pt-20 pt-20Mobile pb-20 pb-20Mobile border-top-blue">
        <div>
            <img src="{{ asset("img/favicon.png") }}" alt="Eventoo logo"/>
        </div>
        <div>
            <a href="">Terms & Conditions</a>
        </div>
    </div>

</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>



<script>
jQuery(document).ready(function($) {
  // Search
  $('#search-button').click(function() {
    console.log("Open Search, Search Centered");
    $("div.mk-fullscreen-search-overlay").addClass("mk-fullscreen-search-overlay-show");
    $(".nav-open").css('display', 'none');
  });
  $("a.mk-fullscreen-close").click(function() {
    console.log("Closed Search");
    $("div.mk-fullscreen-search-overlay").removeClass("mk-fullscreen-search-overlay-show");
    $(".nav-open").css('display', 'inline-block');
  });
});
</script>
