.btn-facebook {
  background-color: #4267B2;
  color: $white;
}

.btn-facebook:hover {
  background-color: #395BA0;
  color: $white;
}

.btn-purple {
  background-color: $purple;
  color: $white;
}

.btn-purple:hover {
  background-color: $dark-purple;
  color: $white;
}

.btn-grey {
  background-color: $dark-grey;
  color: $white;
}

.btn-grey:hover {
  background-color: #A8A8A8;
  color: $white;
}

.btn-light-blue {
  background-color: $light-blue;
  color: $white;
}

.btn-light-blue:hover {
  background-color: #52718D;
  color: $white;
}

.btn-group-lg>.btn, .btn-lg {
    padding: 1rem 2rem !important;
    font-size: 1.5rem !important;
    line-height: 1.5 !important;
    border-radius: 1rem !important;
}

.btn-group-lg>.btn, .btn-medium {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}

a.primaire {
  padding: 12px 22px;
  border-radius: 5px;
  cursor:pointer;
  background-color: $purple;
  color: white;
}

a.primaire:hover {
  background-color: $dark-purple;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

#scrollToTop {
  display: inline-block;
  background-color: #333;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;

  &::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }

  &:hover {
    cursor: pointer;
    background-color: $red;
  }

  &:active {
    background-color: #F6145F;
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }
}

@media (min-width: 500px) {
  #scrollToTop {
    margin: 30px;
  }
}
